/*--------------
Navigation Rules
--------------*/
.header {
	z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 $margin-padding-standard;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  max-height: $header-height;
  max-width: $global-content-width;
  margin: auto;

	width: 100%;

	&::after {
    z-index: -1;
  	content: "";
  	width: 100%;
  	height: $header-height;
    background: $nav-background-color;
  	position: fixed;
  	top: 0;
  	left: 0;
	}

	.header-logo {
			color: $nav-text-color;
			margin: 0;

			a {
				font-size: $nav-logo-font-size;
				font-weight: bold;
				text-decoration: none;
				color: $nav-text-color;
				white-space: nowrap;
			}
		}

	.header-nav {
		margin: 0 0 0 auto;
		height: 100%;

		ul {
			margin: 0;
			display: flex;
			align-items: center;
			height: 100%;
		}

		li {
        display: flex;
				align-items: stretch;
				height: 100%;

        a {
          margin: 0 $nav-link-spacing;
          display: flex;
          align-items: center;
					justify-content: center;
					height: 100%;

          color: $white;
          font-size: $nav-link-font-size;
          border-bottom: $nav-border-size transparent;
          transition: $nav-animation-time;
					text-decoration: none;

          &:hover, &.active { border-bottom: $nav-border-size $white; }

      }
		}
	}
}

/*--------------
Subnavigation Above Articles
--------------*/
.article-navigation {//added 09/01/18 - for blog/article style pages
	display: flex;
	align-items: center;
	justify-content: flex-end;//For IE
	margin-left: auto !important;
	z-index: 1;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			max-height: $header-height;
			cursor: pointer;

			&:not(:first-child) {
				border-left: none;
				@media #{$tablet} {
					border-left: 1px solid $color-white-1;
				}
			}

			&.active, &:hover {
				background-color: $color-red;
			}
		}

		a {
			display: block;
			text-decoration: none;
			color: $color-white-1;
			text-shadow: $shadow-contrast;
			padding: calc(#{$margin-padding-standard} / 2) $margin-padding-standard;
			text-transform: uppercase;

			@media #{$tablet} {
				padding: calc(#{$margin-padding-standard} / 2) $margin-padding-standard;
			}
		}
	}
}
