* {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	text-align:center;
	background-color: $color-white-3;
	color: $body-color-text;
	margin-top: $body-margin-top;

	@media #{$tablet}{
		margin-top: $body-margin-top;
	}
}

.app-content {
	max-width: $global-content-width;
	&.has-article {
		margin-top: -11rem;
	}
}

.no-banner {
	margin-top: 5rem !important;//compare with $nav-height: 5rem;
}

/*--------------
Article Specific
--------------*/
.article {
	background-color: $white;
	display: inline-block;
	padding: 2rem 0;
	z-index: 1;
}

.article-width {
	margin: auto;
	max-width: $global-blog-width;
}

.article-header {
	z-index: 1;
	display: flex;
	align-items: center;
	margin-right: auto;
	justify-content: flex-start;

	h1 {
		margin: 0;
		padding-left: $margin-padding-standard;
		color: $color-white-1;
		text-shadow: $shadow-contrast;
		z-index: 1;
	}
}
