.card {
	background-color: $white;
	border: $border-1 $color-grey-1;
	border-radius: 2px;
	display: inline-block;
	padding: $margin-padding-standard;
	z-index: 1;
	box-shadow: $shadow-box;
	margin: $grid-gutter -1rem $grid-gutter 0;
	@supports(display: grid) { margin: 0 -1rem; }

	@media #{$tablet} {
		margin: $grid-gutter 0;
		@supports(display: grid) { margin: 0; }
	}
}

.is-link {
	&:hover {
		border-radius: 0px;
		box-shadow: $shadow-input $color-grey-1;
		cursor: pointer;
		border-color: $color-green;
	}
}

.caption {
	display: block;
	font-size: 0.75rem;
}
