//----- Typography -----//
//Font Sizes
$font-size-description: 0.9rem;
$font-size-h1: 3.5rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2.0rem;
$font-size-p1: 1.7rem;
$font-size-p2: 1.25rem;
$font-size-p3: 0.75rem;

//Font Weights
$font-weight-links: bold;
$font-weight-header: 400;
$font-weight-logo: 600;
