//----- Fonts -----//
$font-family: 'Open Sans', sans-serif;//Open Sans - imported in _layout.scss

//----- Colors -----//
//Greyscale
$color-grey-1: #ccc;//(#cccccc)
$color-grey-2: #777;//(#777777)
$color-grey-3: #333;//(#333333)

$color-white-1: #ffffff;//(#ffffff)
$color-white-2: #f7f7f7;//(#f7f7f7)
$color-white-3: #e2e2e2;//(#e2e2e2)
$white: #FFFFFF;

$color-black-1: #000000;
$black: #000000;

//Main
$color-primary: #439a86;
$color-primary-fade: lighten($color-primary, 10%);
$color-secondary: #9A9A9A;
$color-secondary-fade: lighten($color-secondary, 10%);

//Other
$color-purple: #8f4dae;
$color-purple-fade: lighten($color-purple, 10%);
$color-blue: #286483;
$color-blue-fade: lighten($color-blue, 10%);
$color-green: #33993c;
$color-green-fade: lighten($color-green, 10%);
$color-red: #c81d20;//was #ac4f51
$color-red-fade: lighten($color-red, 10%);
$color-yellow: #FFFB19;
$color-yellow-fade: lighten($color-yellow, 10%);
$color-orange: #FF8C63;
$color-orange-fade: lighten($color-orange, 10%);

$body-color-text: $color-grey-3;//($color-grey-3)

//-----  Screen Breaks and Widths -----//

//Content and Text Width
$global-content-width:        1200px !default;//The page stops growing at 1200px
$global-blog-width:           600px !default;//The max-width of text boxes for improved readability

//Break Points
$phone:         "all and (max-width: 470px)" !default;
$tablet:        "all and (min-width: 680px)" !default;
$desktop:       "all and (min-width: 890px)" !default;

//Break Point Addons
$tablet-large:  "all and (min-width: 708px)" !default;//For tables

//-----  Spacing -----//
$margin-padding-standard: 1rem;
$padding-underline: 0.25rem;//Offsets border applied (0.25rem)
$margin-center: 0 auto;

//----- Shadows -----//
$shadow: 0px 0px 15px $color-black-1;//generic shadow
$shadow-contrast: 0px 2px 4px $color-black-1;//helps with seeing the object on top of images
$shadow-input: 0px 0px 10px;//primarily used for input focus
$shadow-box: 0 2px 4px 0 rgba(14,30,37,.12);

//----- Animations -----//
$animation-hover-buttons: background 0.1s ease-in;
$animation-transition: all 0.2s ease-in-out !default;

//----- Borders -----//
$border-1: 1px solid;
$border-2: 2px solid;
$border-radius: 2px;

//----- Grid -----//
$grid-gutter: 1rem;

/*These variables are for changes to various
elements that remain constant (such as images/logos/branding)
There are many component specific variables in settings.*/
/*----- BODY -----*///:layout.scss
$body-margin-top: 0;//height to offset for header ($header-height)

/*----- GRID -----*///:grid.scss
$grid-divider-thickness: 5px;//thickness of dividers(5px)
$grid-image-minimum: 300px;//the minimum size that an image can be in the feed (300px)
$grid-image-minimum-mobile: 100%;

/*----- FOOTERS -----*///:footer.scss
$footer-width: $global-content-width;//($global-content-width)

//----- TYPOGRAPHY -----//
//Font Sizes
$font-size-description: 0.9rem;
$font-size-h1: 3.5rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2.0rem;
$font-size-p1: 1.7rem;
$font-size-p2: 1.25rem;
$font-size-p3: 0.75rem;

//Font Weights
$font-weight-links: bold;
$font-weight-header: 400;
$font-weight-logo: 600;

//----- HEADER -----//

//Navigation Bar Height
$header-height: 4rem;
$sub-header-height: 3rem;
$nav-border-size: 4px solid;

//Navigation Link Width
$nav-link-font-size: 1.2rem;
$nav-logo-font-size: 2.0rem;
$nav-link-spacing: calc(#{$margin-padding-standard} / 2);

//Navigation Colors
$nav-color-theme: $color-white-2;
$nav-text-color: $color-white-2;
$nav-background-color:  rgba(34,34,34,0.95);
$nav-animation-time: border 0.2s ease-out;
