$button-padding: calc(#{$margin-padding-standard} / 2);
//TODO: simplify these mixins, they could be optimized much better.

@mixin input-styles() {
	background-color: $color-white-2;
	border-radius: $border-radius;
	border: $border-2 $color-primary;
	border-color: $color-grey-1;
	color: $color-grey-3;
	min-width: 25px;
	width: 100%;
	margin-bottom: calc(#{$margin-padding-standard} / 2);
}

// @mixin input-focus-color($color) {
// 	&:not(.disabled):focus { border-color: $color1; };
// }

@mixin input-focus() {
	&:not(.disabled):focus { border-color: $color-primary; }
	&.input--black   { &:not(.disabled):focus { border-color: $color-black-1; } }
	&.input--blue    { &:not(.disabled):focus { border-color: $color-blue; } }
	&.input--green   { &:not(.disabled):focus { border-color: $color-green; } }
	&.input--grey    { &:not(.disabled):focus { border-color: $color-grey-3; } }
	&.input--orange  { &:not(.disabled):focus { border-color: $color-orange; } }
	&.input--primary { &:not(.disabled):focus { border-color: $color-primary; } }
	&.input--purple  { &:not(.disabled):focus { border-color: $color-purple; } }
	&.input--red   	 { &:not(.disabled):focus { border-color: $color-red; } }
	&.input--white   { &:not(.disabled):focus { border-color: $color-white-2; } }
	&.input--yellow  { &:not(.disabled):focus { border-color: $color-yellow; } }
}

.button, button {
	background: $color-primary;
	border-radius: $border-radius;
	border: 0;
	color: $color-white-2;
	display: inline-block;
	font-size: $font-size-description;
	font-weight: $font-weight-links;
	padding: $button-padding $margin-padding-standard;
	text-decoration: none;
	cursor: pointer;

	&:not(.disabled):hover, &:not(.disabled):focus {
		background: $color-primary-fade;
		transition: $animation-hover-buttons;
	}

	&.has-margin {
		margin: $margin-padding-standard;
	}

	&.button--shadow { box-shadow: $shadow-contrast; }
	&.disabled { opacity: 0.25; cursor: not-allowed; }

	&.button--black   { background: $color-black-1; &:not(.disabled):hover, &:not(.disabled):focus { background: $color-grey-3;       } }
	&.button--blue    { background: $color-blue;    &:not(.disabled):hover, &:not(.disabled):focus { background: $color-blue-fade;    } }
	&.button--green   { background: $color-green;   &:not(.disabled):hover, &:not(.disabled):focus { background: $color-green-fade;   } }
	&.button--grey    { background: $color-grey-3;  &:not(.disabled):hover, &:not(.disabled):focus { background: $color-grey-2;       } }
	&.button--orange  { background: $color-orange;  &:not(.disabled):hover, &:not(.disabled):focus { background: $color-orange-fade;  } }
	&.button--primary { background: $color-primary; &:not(.disabled):hover, &:not(.disabled):focus { background: $color-primary-fade; } }
	&.button--purple  { background: $color-purple;  &:not(.disabled):hover, &:not(.disabled):focus { background: $color-purple-fade;  } }
	&.button--red     { background: $color-red;     &:not(.disabled):hover, &:not(.disabled):focus { background: $color-red-fade;     } }
	&.button--white   { background: $color-white-3;
						color: $color-grey-3;   	&:not(.disabled):hover, &:not(.disabled):focus { background: $color-white-1;      } }
	&.button--yellow  { background: $color-yellow;  &:not(.disabled):hover, &:not(.disabled):focus { background: $color-yellow-fade;  } }

	&.button--submit {//use with &.input-submit while in fieldset--submit
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		order: 2;
		flex: 1 1 auto;
		align-self: auto;
		height: 2.5rem;
	}

	&.button--to-top {//This perhaps should be a custom css rule, this is a very special case.
		position: fixed;
		bottom: 0.5rem;
		right: 1rem;
	}
}

.link {
	color: $color-primary;
	display: inline-block;
	font-size: $font-size-description;
	font-weight: $font-weight-links;
	text-decoration: none;
	cursor: pointer;

	&:not(.disabled):hover, &:not(.disabled):focus {
		color: $color-primary-fade;
		transition: $animation-hover-buttons;
	}

	&.link--shadow { text-shadow: $shadow-contrast; }
	&.disabled { opacity: 0.25; cursor: not-allowed; }

	&.link--black   { color: $color-black-1; &:not(.disabled):hover, &:not(.disabled):focus { color: $color-grey-3;      } }
	&.link--blue    { color: $color-blue;    &:not(.disabled):hover, &:not(.disabled):focus { color: $color-blue-fade;   } }
	&.link--green   { color: $color-green;   &:not(.disabled):hover, &:not(.disabled):focus { color: $color-green-fade;  } }
	&.link--grey    { color: $color-grey-3;  &:not(.disabled):hover, &:not(.disabled):focus { color: $color-grey-1;      } }
	&.link--orange  { color: $color-orange;  &:not(.disabled):hover, &:not(.disabled):focus { color: $color-orange-fade; } }
	&.link--primary { color: $color-primary; &:not(.disabled):hover, &:not(.disabled):focus { color: $color-primary-fade;} }
	&.link--purple  { color: $color-purple;  &:not(.disabled):hover, &:not(.disabled):focus { color: $color-purple-fade; } }
	&.link--red     { color: $color-red;     &:not(.disabled):hover, &:not(.disabled):focus { color: $color-red-fade;    } }
	&.link--white   { color: $color-white-3; &:not(.disabled):hover, &:not(.disabled):focus { color: $color-white-1;     } }
	&.link--yellow  { color: $color-yellow;  &:not(.disabled):hover, &:not(.disabled):focus { color: $color-yellow-fade; } }
}

.input, input {
	@include input-styles();
	@include input-focus();
	height: 2.5rem;
	padding: 0 calc(#{$margin-padding-standard} / 2);

	&.disabled, &:disabled { opacity: 0.25; background-color: $color-grey-1; border-color: $color-grey-1; }

	&.input--submit {//use with &.button-submit while in fieldset--submit
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		order: 1;
		flex: 5 1 auto;
		align-self: auto;
	}
}

textarea {
	@include input-styles();
	@include input-focus();
	display: block;
	padding: calc(#{$margin-padding-standard} / 2);
	width: 100% !important;
}

.input--label {
	display: inline-block;
	font-size: 0.8rem;
	text-align: left;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.fieldset--submit {
	border: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	height: 3.5rem;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
